.cover-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.mh-header {
    position: relative;
}
.sf-home {
    padding-bottom: 700px;
        width: 100%;
}
.logo-img-right {
 float: right;   
}
.logo-img {
    height: 80px;
    margin-top: 30px;
}
.g-bg {
    background-color: #4285f4;
}
.title h3{
        padding: 20px 0;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 0;
}
.agenda {
    padding: 40px 0;
}
ul {
    margin: 0;
    padding: 0;
}

.agenda-inner  ul li {
    list-style-type: none;
    display: block;
}

.agenda-inner ul li span {
      margin-right: 10px;
}
.agenda-inner ul li{
    margin: 2px 0;
}
.agenda-inner ul {
    padding-left: 30px;
    margin-top: 20px;
}
.date-des-inner {
border-left: 1px solid #00000045;
    padding-left: 20px;
}
.date {
    margin-bottom: 30px;
}

.partner {
    padding: 15px;
    padding-bottom: 20px;
    padding-top: 10px;
}
.partner ul{
    padding-left: 30px;
    width: 100%;
    margin-bottom: 20px;
}
.partner ul li{
    /*display: block;*/
    width: 100%;
    list-style-type: disc;
}
.partner p{
    width: 100%;
    overflow: hidden;
}
.partner p b{
    display: block;
    
}
.btn {
    padding: 8px 30px;
    color: #fff;
    font-weight: bold;
    background-color: #4285f4;
}
.btn:hover {
    color: $fff;   
    
}

.zb-footer {
    padding: 30px 0;
    text-align: center;
}
.zb-footer p{
 margin-bottom: 10px;   
     float: none;
    margin: 0 auto;
    width: 100%;
}